@import "found";
@import "compass/css3/background-size";

html, body, .row {
	height: 100%;
	width: 100%;
}

body {
	// overflow: hidden;
}

.row {
	max-width: none;
	margin: 0 !important;
}

.side, .main {
	height: 100%;
}

.side {
	background-color: #CCC;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.main {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background: {
		image: image-url("/images/guinea.jpg");
		repeat: no-repeat;
	};
	@include background-size(100% 100%);
}