@import "found";
@import "compass/css3/background-size";

html, body, .row {
	height: 100%;
	width: 100%;
}

// Disable some touch interactions
body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	-webkit-highlight: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.row {
	max-width: none;
	margin: 0 !important;
}

.side, .main {
	height: 100%;
}

.side {
	background-color: #CCC;
	text-align: center;

	&, .content {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	
	// li .label {
		// left: 0px;
	// }
}

.main {
	background: {
		image: image-url("/images/guinea.jpg");
		repeat: no-repeat;
	};
	@include background-size(100% 100%);
}